<div class="container-fluid">
    <div class="card p-2">
        <h5 class="card-title">Payee Name Search Screen</h5>
        <hr>
        <form>
            <div class="row">
                <div class="col-auto">
                    <input type="number" max="100" class="form-control" id="payeeNameSearch" placeholder="Account Type">
                </div>
                <!-- <div class="col-auto">
                    <select class="form-control" id="transactionType">
                        <option>Select transaction type</option>
                        <option>V</option>
                        <option>A</option>
                        <option>1</option>
                        <option>0</option>
                    </select>
                </div> -->
                <div class="col-auto">
                    <select class="form-control" id="transactionType">
                        <option>Filter</option>
                        <option>Both</option>
                        <option>Payee Only</option>
                        <option>Victim Only</option>
                    </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary mb-2" id="payeeSearch">Search</button>
                </div>
            </div>
        </form>
        <table id="payeeTable" class="table table-striped d-none" style="width:100%">
        </table>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="payeeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Payee Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid m-2">
                        <form class="p-2 m-2">
                            <div class="form-group row">
                              <div class="col-sm-2">
                                <span class="col-form-label">Id</span>
                              </div>
                              <div class="col-sm-10">
                                <input type="text" disabled readonly class="payeeFormInput d-none" id="payeeId">
                                <span class="payeeDisplay" id="payeeId_span"></span>
                              </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="col-form-label">Name</span>
                                </div>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="payeeFormInput d-none" id="payeeName">
                                  <span class="payeeDisplay" id="payeeName_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="col-form-label">Address</span>
                                </div>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="payeeFormInput d-none" id="payeeAddress">
                                  <span class="payeeDisplay" id="payeeAddress_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="col-form-label">City</span>
                                </div>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="payeeFormInput d-none" id="payeeCity">
                                  <span class="payeeDisplay" id="payeeCity_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="col-form-label">State</span>
                                </div>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="payeeFormInput d-none" id="payeeState">
                                  <span class="payeeDisplay" id="payeeState_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="col-form-label">Zip</span>
                                </div>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="payeeFormInput d-none" id="payeeZip">
                                  <span class="payeeDisplay" id="payeeZip_span"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <span class="col-form-label">Status</span>
                                </div>
                                <div class="col-sm-10">
                                  <input type="text" disabled readonly class="payeeFormInput d-none" id="payeeStatus">
                                  <span class="payeeDisplay" id="payeeStatus_span"></span>
                                </div>
                            </div>
                          </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="editPayee">Edit</button>
                    <button type="button" class="btn btn-primary d-none" id="savePayee">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>