<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Arifin's Atrium</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/base.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <% include('./partials/header_nav') %>
    <div class="fill">
        <!-- Quote-->
        <section>
            <div class="container">
                <h2>About You</h2>
                <p class="text-muted mb-5">Some i know, some i will, and some will forever be unknown ....</p>
                <div class="row">
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <svg class="lnr text-primary services-icon">
                            <use xlink:href="#lnr-magic-wand"></use>
                        </svg>
                        <h6>IP Address</h6>
                        <p id="ip_address" class="text-muted">Ex cupidatat eu officia consequat incididunt labore
                            occaecat ut veniam labore
                            et cillum id et.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <svg class="lnr text-primary services-icon">
                            <use xlink:href="#lnr-heart"></use>
                        </svg>
                        <h6>Your browser</h6>
                        <span class="text-muted" id="browser_info">Tempor aute occaecat pariatur esse aute amet.</span>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <svg class="lnr text-primary services-icon">
                            <use xlink:href="#lnr-rocket"></use>
                        </svg>
                        <h6>Your Screen</h6>
                        <p class="text-muted" id="screen_info">Voluptate ex irure ipsum ipsum ullamco ipsum
                            reprehenderit non ut mollit
                            commodo.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <svg class="lnr text-primary services-icon">
                            <use xlink:href="#lnr-paperclip"></use>
                        </svg>
                        <h6>CPU</h6>
                        <p class="text-muted" id="cpu_info">Tempor commodo nostrud ex Lorem occaecat duis occaecat
                            minim.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <svg class="lnr text-primary services-icon">
                            <use xlink:href="#lnr-screen"></use>
                        </svg>
                        <h6>GPU Info</h6>
                        <p class="text-muted" id="gpu_info">Et fugiat sint occaecat voluptate incididunt anim nostrud ea
                            cillum cillum
                            consequat.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <svg class="lnr text-primary services-icon">
                            <use xlink:href="#lnr-inbox"></use>
                        </svg>
                        <h6>Et labore tempor et</h6>
                        <p class="text-muted">Et labore tempor et adipisicing dolor.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <% include('./partials/footer') %>
    <% include('./partials/footer') %>

    <script src="./js/aboutyou.js"></script>

</body>

</html>